/* טעינת גופן כותב מחובר */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  overflow: hidden;
}

.header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: linear-gradient(to right, #fb8d8e, #fcc5b6, #ffe2e8); /* אומברה ורודה */
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit; /* ירש מה-h1 */
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  color: #4a2b36;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.2;
}

#loggedInDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hidden {
  display: none !important;
}

#logInButton,
#signUpButton {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(194, 125, 125, 0.1);
  color: rgb(85, 43, 43);
}


