@font-face {
    font-family: "title";
    src: url("../fonts/Pacifico-Regular.ttf");
  }
  
  body {
    overflow: hidden;
  }
  .header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    background: linear-gradient(to right, #fb8d8e, #fcc5b6, #ffe2e8); /* אומברה ורודה */
    font-weight: 700;
  }
  
  
  a {
    color: transparent;
    text-decoration: none;
  }
  h1 {
    font-family: "title";
    font-weight: lighter;
    color: rgba(19, 7, 18, 0.741);
    line-height: 50%;
  }
  
  #loggedInDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .hidden {
    display: none !important;
  }
  
#logInButton,
#signUpButton {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(194, 125, 125, 0.1);
  color: rgb(85, 43, 43);
}