body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}



.container {
  background-color: white;
  padding: 40px;
  margin: 80px auto;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

td {
  padding: 10px;
  font-weight: bold;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

#passwordInput {
  -webkit-text-security: disc;
}

/* כפתור התחברות עם Glow ורוד חזק */
button#loginButton {
  background-color: #5b86e5;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 20px 5px rgba(255, 20, 147, 0.8); /* Glow ורוד חזק */
}

button#loginButton:hover {
  background-color: #4a74d3;
  box-shadow: 0 0 30px 10px rgba(255, 20, 147, 1); /* זוהר עוצמתי בהובר */
}

#messageDiv {
  margin-top: 15px;
  color: red;
  font-size: 14px;
}


